<h1>👋 Hello!</h1>
<h3>Login here:</h3>
<form method="POST" action="/profile">
    <label>Username:</label>
    <input type="text" name="username" />
    <label>Password:</label>
    <input type="text" name="password" />
    <input type="submit" />
</form>